
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a *ngIf="!isLoggedIn" name="login" class="nav-item nav-link" [routerLink]="['/login']">Login</a>
    </li>
    <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{profile}}" width="30" height="30" (error)="setDefaultPicture()" class="d-inline-block align-top" alt="">
         </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">   
          <a class="dropdown-item" name="profile"  [routerLink]="['/profile']" >Update profile</a>      
          <a class="dropdown-item" name="logout"  (click)="logout()">Logout</a>
        </div>
      </li>
  </ul>